.result-area {
  margin: 0 0 32px 0;
}

.result-area__part-of-speech {
  color: var(--color-text-body);
  font-style: italic;
}

.result-area__container {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  align-items: center;
  margin: 0 0 32px 0;
}

.result-area__line-diviser {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--bg-color-line-heading);
}

.result-area__meaning {
  color: var(--color-05);
  margin: 0 0 17px 0;
}

.list-definitions {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: var(--color-text-body);
  list-style-type: none;
  margin: 0 0 24px 0;
}

.list-definitions__item::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-012);
  margin: 10px 20px 0 0;
  vertical-align: top;
}

.list-definitions__text {
  display: inline-block;
  width: calc(100% - 25px);
}

.list-definitions__text .list-definitions__example,
.list-definitions__text .list-definitions__definition {
  display: block;
}

.list-definitions__definition {
  margin: 0 0 13px 0;
}

.list-definitions__example {
  color: var(--color-05);
}

.list-definitions__item:not(:last-child) {
  margin: 0 0 13px 0;
}

.result-area__term,
.result-area__list-term {
  display: inline-block;
}

.result-area__list-term {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
}

.result-area__list-item {
  display: inline-block;
}

.result-area__list-item:not(:last-child) {
  margin: 0 10px 0 0;
}

.result-area__button-action {
  appearance: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  font-weight: bold;
  color: var(--color-09);
}

.result-area__button-action:hover {
  cursor: pointer;
}

.result-area__button-action:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.result-area__term {
  font-weight: normal;
  color: var(--color-05);
  margin: 0 24px 0 0;
}

.result-area__word-term:not(:last-child) {
  margin: 0 0 13px 0;
}

.result-area > *:last-child {
  margin: 0;
}

@media screen and (min-width: 550px) {
  .result-area__container {
    gap: 20px;
    margin: 0 0 40px 0;
  }

  .result-area__meaning {
    margin: 0 0 25px 0;
  }

  .list-definitions {
    font-size: inherit;
    line-height: inherit;
    margin: 0 0 40px 0;
    padding: 0 0 0 22px;
  }

  .result-area__term {
    margin: 0 22px 0 0;
  }

  .result-area__list-term {
    font-size: 20px;
    line-height: 24px;
  }

  .result-area {
    margin: 0 0 40px 0;
  }
}
