
.heading1 {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
}

.heading2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.heading3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.heading4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 550px) {
  .heading1 {
    font-size: var(--font-size-heading-L);
    line-height: var(--line-height-heading-L);
  }

  .heading2 {
    font-size: var(--font-size-heading-M);
    line-height: var(--line-height-heading-M);
  }

  .heading3 {
    font-size: var(--font-size-heading-M);
    line-height: var(--line-height-heading-M);
  }

  .heading4 {
    font-size: var(--font-size-heading-S);
    line-height: var(--line-height-heading-S);
  }
}
