.header {
  margin: 0 0 24px 0;
}

.header__container,
.header__container-switch {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header__container {
  justify-content: space-between;
  margin: 0 0 24px 0;
}

.header__container-switch {
  gap: 16px;
}

.header__icon {
  display: inline-block;
}

.header__icon--logo {
  width: 32px;
  height: 36.5px;
}

.header__icon--moon {
  width: 20px;
  height: 20px;
}

.header__controls {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.header__diviser {
  display: block;
  height: 32px;
  width: 1px;
  background-color: var(--color-06);
  margin: 0 16px;
}

.header__icon-active {
  display: inline-block;
  color: var(--color-09);
}

/**BREAKPOINT 550px to tablets**/
@media screen and (min-width: 550px) {
  .header__diviser {
    margin: 0 26px;
  }

  .header__container-switch {
    gap: 20px;
  }

  .header__container {
    margin: 0 0 51.5px 0;
  }

  .header {
    margin: 0 0 43px 0;
  }
}

@media screen and (min-width: 817px) {
  .header {
    margin: 0 0 45px 0;
  }
}
