@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-01: #050505;
  --color-02: #1f1f1f;
  --color-03: #2d2d2d;
  --color-04: #3a3a3a;
  --color-05: #757575;
  --color-06: #e9e9e9;
  --color-07: #f4f4f4;
  --color-08: #ffffff;
  --color-09: #a445ed;
  --color-010: #ff5252;
  --color-011: #979797;
  --color-012: #8f19e8;
  --font-size-heading-L: 64px;
  --line-height-heading-L: 77px;
  --font-size-heading-M: 24px;
  --line-height-heading-M: 29px;
  --font-size-heading-S: 20px;
  --line-height-heading-S: 24px;
  --font-size-body-M: 18px;
  --line-height-body-M: 24px;
  --font-size-body-S: 14px;
  --line-height-body-S: 17px;
  --ff-sans-serif: inter, "Open Sans", "Fira Sans", "Lucida Sans",
    "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L",
    sans-serif;
  --ff-serif: lora, "Lucida Bright", "Lucida Fax", "Palatino",
    "Palatino Linotype", "Palladio", "URW Palladio", serif;
  --ff-mono: inconsolata, "Fira Mono", "DejaVu Sans Mono", "Menlo, Consolas",
    "Liberation Mono", "Monaco", "Lucida Console", monospace;
  --font-family: var(--ff-sans-serif);

  /**variables colors**/
  --bg-body: var(--color-08);
  --color-text-body: var(--color-03);
  /**select componente**/
  --bg-color-menu-select: var(--color-08);
  --color-shadow-menu: #0000001a;
  /**switch component**/
  --bg-color-switch: var(--color-05);
  --bg-color-controler-switch: var(--color-08);
  /**search componente**/
  --bg-color-input-search: var(--color-07);
  /**result area componente**/
  --bg-color-line-heading: var(--color-06);
}

[data-font="sans-serif"] {
  --font-family: var(--ff-sans-serif);
}

[data-font="serif"] {
  --font-family: var(--ff-serif);
}

[data-font="mono"] {
  --font-family: var(--ff-mono);
}

[data-theme="dark"] {
  --bg-body: var(--color-01);
  --bg-color-switch: var(--color-09);
  --bg-color-menu-select: var(--color-02);
  --color-shadow-menu: var(--color-09);
  --bg-color-input-search: var(--color-02);
  --color-text-body: var(--color-08);
  --bg-color-line-heading: var(--color-04);
}

/***MOBILE-FIRST***/

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body-S);
  line-height: var(--line-height-body-S);
  background-color: var(--bg-body);
  transition: all ease 0.3s;
}

.wrapper {
  margin: 24px 24px 85px 24px;
}

/**BREAKPOINT 550px to tablets**/
@media screen and (min-width: 550px) {
  .wrapper {
    margin: 58px 40px 118px 39px;
    max-width: 737px;
  }

  body {
    font-size: var(--font-size-body-M);
    line-height: var(--line-height-body-M);
  }
}

/**BREAKPOINT 817px to desktop**/
@media screen and (min-width: 817px) {
  .wrapper {
    margin: 58px auto 124px auto;
  }
}
