@import-normalize;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-01: #050505;
    --color-02: #1F1F1F;
    --color-03: #2D2D2D;
    --color-04: #3A3A3A;
    --color-05: #757575;
    --color-06: #E9E9E9;
    --color-07: #F4F4F4;
    --color-08: #FFFFFF;
    --color-09: #A445ED;
    --color-010: #FF5252;
    --color-011: #979797;
    --font-size-heading-L: 64px;
    --line-height-heading-L: 77px;
    --font-size-heading-M: 24px;
    --line-height-heading-M: 29px;
    --font-size-heading-S: 20px;
    --line-height-heading-S: 24px;
    --font-size-body-M: 18px;
    --line-height-body-M: 24px;
    --font-size-body-S: 14px;
    --line-height-body-S: 17px;
    --ff-sans-serif: inter, "Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L", sans-serif;
    --ff-serif: lora, "Lucida Bright", "Lucida Fax", "Palatino", "Palatino Linotype", "Palladio", "URW Palladio", serif;
    --ff-mono: inconsolata, "Fira Mono", "DejaVu Sans Mono", "Menlo, Consolas", "Liberation Mono", "Monaco", "Lucida Console", monospace;
    --font-family: var(--ff-sans-serif);
    --bg-body: var(--color-08);
    /**select componente**/
    --bg-color-menu-select: var(--color-08);
    --color-shadow-menu-select: rgba(0, 0, 0, 0.102);
    --text-select: var(--color-03);
    --color-shadow-menu: #0000001a;
    /**switch component**/
    --bg-color-switch: var(--color-05);
    --bg-color-controler-switch: var(--color-08);
    /**header componente**/
    --bg-color-column-diviser: var(--color-06);
    /**generic**/
}

[data-font="sans-serif"]{
    --font-family: var(--ff-sans-serif);
}

[data-font="serif"]{
    --font-family: var(--ff-serif);
}

[data-font="mono"]{
    --font-family: var(--ff-mono);
}

[data-theme="dark"] {
    --bg-body: var(--color-01);
    --bg-color-switch: var(--color-09);
    --text-select: var(--color-08);
    --bg-color-menu-select: var(--color-02);
    --color-shadow-menu: var(--color-09);
}

/***MOBILE-FIRST***/

body{
    font-family: var(--font-family);
    font-size: var(--font-size-body-S);
    line-height: var(--line-height-body-S);
    background-color: var(--bg-body);
}

.wrapper{
    padding: 24px 24px 85px 24px;
}